*{
    padding: 0px;
    margin: 0px;
}
html{
    font-size: 10px;

}
body{
    font-family: Poppins,sans-serif;
    font-size: 1.6rem;
}
.container{
    max-width: 104rem;
    margin: 0 auto;

}
svg{
    width: 1.5rem;
    height: 1.5rem;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: url("./assets/blutooth.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.nav{
    width: 100%;
    height: 7rem;
}
.nav_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    border-bottom: 1px solid #ffffff2e;
}
.logo{
    text-decoration: none;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 800;
}
.nav_list{
    list-style: none;
    display: flex;
   
}
.nav_link{
    margin: 0rem 0.8rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;

}
.hero{
    width: 100%;
    height: calc(100vh - 7rem);

}
.hero_container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.hero_content{
    color: #fff;
    width: 50%;
}
.new{
    color: #ffffff68;
    margin-bottom: 3rem;
    letter-spacing: 1.6px;
    font-size: 1.3rem;

}
.main_title{
    font-size: 4.8rem;
    margin-bottom: 2rem;

}
.hero_text{
    margin-bottom: 3rem;
}
.main_btn{
    background-color: orange;
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    padding: 1rem 1.8rem;
}
.products{
    width: 100%;
    padding-top: 17rem;
}
.products_container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap: 3rem;
}
.product{
    background-color: #dbdbdb;
    position: relative;
    width: 100%;
    height: 20rem;

}
.product > img {
    width: 18rem;
    height: 18rem;
    position: absolute;
    left: 20%;
    top: -40%;
}
.products_content{
    width: 100%;
    position: absolute;
    bottom: 2.5rem;
    text-align: center;
}
.product_title{
    font-size: 1.5rem;
    letter-spacing: 1.2px;
    margin-bottom: 1rem;
}
.see_products{
    font-size: 1.2rem;
    text-decoration: none;
    color: #333;
}
.speaker{
    padding-top: 10rem;
}
.speaker_container{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 50rem;
    background-image: url("./assets/head.jpg");
    background-size: cover;
    border-radius: 5px;
    background-position: center;
}
.speaker_content{
    width: 45%;
    color: #fff;

}
.speaker_title{
    font-size: 4.8rem;

}
.speaker_titlee{
    color: black;
    margin-bottom: 3rem;
    font-size: 4.8rem;
}
.speaker_text{
    margin-bottom: 30px;
}
.speaker_btn{
    color: #fff;
    background-color:black;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 1rem 1.8rem;
    margin-top: 2rem;
}
.speaker_btnn{
    color: #fff;
   border: 1px solid black;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 1rem 1.8rem;
    margin-top: 3rem;
}
.blutoothh{
    margin-top: 5rem;
}
.speaker_blutooth{
    display: flex;
    align-items: center;
   padding-left: 4rem;
    width: 100%;
    height: 35rem;
    border-radius: 5px;
    background-image: url("./assets/headphone.jpg");
    background-size: cover;
    background-position: center;
}
.earphone{
    padding-top: 5rem;
}
.earphone_container{
    width: 100%;
    height: 30rem;
    display: flex;
}
.earphone_container > img {
    width: 50%;
}
.earphone_content{
    width: 50%;
    background-color: #eee;
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.earphone_title{
    margin-bottom: 3rem;
}
.speaker_button{
    color: black;
    border: 1px solid black;
     text-decoration: none;
     font-size: 1.3rem;
     padding: 1rem 1.8rem;
     margin-top: 3rem;
}
.hero{
    padding-top: 25rem;
}
.hero_container{
    width: 100%;
    height: 30rem;
    display: flex;

}
.hero_content{
    margin-bottom: 2rem;
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.hero_text{
    margin: 1.2rem 0rem;
    color:rgba(0, 0, 0, 0.402);
    padding: 1rem;
    margin-bottom: 2rem;
}
.hero_container > img{
    width: 55%;
    height: 600px;
    border-radius: 10px;
    object-fit: cover;
    margin-left: 2rem;
}
.hero_title{
    font-size: 4.8rem;
    color: #333;
    margin-bottom: 2rem;
}
span{
    color: rgb(239, 75, 15);
}