*{
    padding: 0px;
    margin: 0px;
}
html{
    font-size: 10px;

}
body{
    font-family: Poppins,sans-serif;
    font-size: 1.6rem;
}
.container{
    max-width: 104rem;
    margin: 0 auto;

}
svg{
    width: 1.8rem;
    height: 1.8rem;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: url("./assets/aaa.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.nav{
    width: 100%;
    height: 7rem;
}
.nav_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    border-bottom: 1px solid #474747;
}
.logo{
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
}
.nav_list{
    list-style: none;
    display: flex;
   
}
.nav_link{
    margin: 0rem 0.8rem;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;

}
.hero{
    width: 100%;
    height: calc(100vh - 10rem);

}
.hero_container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.hero_content{
    color: #fff;
    width: 50%;
}
.new{
    color: #303030;
     word-spacing: 10px;
    letter-spacing: 2px;
    margin-bottom: 3rem;
    letter-spacing: 1.6px;
    font-size: 1.3rem;

}
.main_title{
    font-size: 4.8rem;
    color: #FEFEFE;
    margin-bottom: 2rem;

}
.hero_text{
    margin-bottom: 4rem;
    color: #A2A2A2;
    font-size: 14px;
}
.main_btn{
    background-color: #DA7B4A;
    text-decoration: none;
    color: #FEFEFE;
    font-size: 1.1rem;
    height: 100px;
    padding: 1rem 1.8rem;
}
.products{
    width: 100%;
    padding-top: 17rem;
}
.products_container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap: 3rem;
}
.product{
    background-color: #dbdbdb;
    position: relative;
    width: 100%;
    height: 20rem;

}
.product > img {
    width: 18rem;
    height: 18rem;
    position: absolute;
   
    left: 20%;
    top: -40%;
}
.products_content{
    width: 100%;
    position: absolute;
    bottom: 2.5rem;
    text-align: center;
}
.product_title{
    font-size: 1.3rem;
    color: black;
    font-weight: bold;
    letter-spacing: 1.2px;
    margin-bottom: 1rem;
}
.see_products{
    font-size: 1.2rem;
    text-decoration: none;
    color: #474747;
}
small{
    color: #CA987C;
    font-size: 15px;
    font-weight: bold;
}
.speaker{
    padding-top: 10rem;
}
.speaker_container{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 50rem;
    border-radius: 10px;
    background-image: url("./assets/marius-cern-WKc_s4P4mQg-unsplash.jpg");
    background-size: cover;
    border-radius: 5px;
    background-position: center;
}
.speaker_content{
    width: 45%;
    color: #fff;

}
.speaker_title{
    font-size: 4.1rem;
    margin-bottom: 10px;

}
.speaker_titlee{
    margin-bottom: 22px;
    font-size: 3rem;
}
.speaker_text {
    margin-bottom: 30px;
    font-size: 12px;
    
    width: 50%;
    line-height: 1.5;
 }
.speaker_btn{
    color: #fff;
    background-color:rgba(31, 28, 28, 0.813);
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem 1.8rem;
    margin-top: 2rem;
}
.speaker_btnn{
    color: black;
    font-weight: bold;
   border: 1px solid black;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 1rem 1.8rem;
    margin-top: 3rem;
}
.blutoothh{
    margin-top: 5rem;
}
.speaker_blutooth{
    /* display: flex;
    align-items: center;
   padding-left: 4rem;
    width: 100%;
    height: 35rem;
    border-radius: 5px;
    background-image: url("./assets/jan-huber-JiyzPeV2NT4-unsplash.jpg");
    background-size: cover;
    background-position: center; */
    display: flex;
    align-items: center;
    width: 100%;
    height: 35rem;
    justify-content: start;
    border-radius: 10px;
    background-image: url("./assets/behar-zenuni-U1-pZAXmRmM-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}
.speaker_content{
    padding-left: 4rem;
}
.earphone{
    padding-top: 5rem;
}
.earphone_container{
    width: 100%;
    height: 30rem;
    display: flex;
}
.earphone_container > img {
    width: 50%;
    border-radius: 10px;
}
.earphone_content{
    width: 50%;
    background-color: #eee;
    margin-left: 2rem;
    display: flex;
    justify-content: center;

    align-items: center;
}
.earphone_title{
    margin-bottom: 3rem;
    color: black;
}
.speaker_button{
    color: black;
    border: 1px solid black;
     text-decoration: none;
     font-size: 1.3rem;
     padding: 1rem 1.8rem;
     margin-top: 3rem;
}
.heroo{
    padding-top: 13rem;
}
.heroo_container{
    width: 100%;
    height: 30rem;
    display: flex;

}
.heroo_content{
   margin-top: 17rem;
    margin-right: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
}
.heroo_text{
    margin: 1.2rem 0rem;
    color:rgba(0, 0, 0, 0.402);
    line-height: 1.2;
    margin-bottom: 2rem;
}
.heroo_container > img{
    width: 55%;
    height: 450px;
    border-radius: 10px;
    object-fit: cover;
    margin-left: 2rem;
}
.heroo_title{
    font-size: 3.2rem;
    color: #030303;
    margin-bottom: 2rem;
}
span{
    color:#CC8056;
}
.footer {
	background-color: #151515;
	padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35rem;
}

.container {
	width: 100%;
	margin: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

ul {
	list-style: none;
}

.footer-col {
	width: 25%;
	padding: 0 15px;
}


.footer-col h4 {
	font-size: 18px;
	color: #FFF;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #E91E63;
	width: 50px;
	height: 2px;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}

.footer-col ul li a {
	color: #DDD;
	display: block;
	font-size: 1rem;
	font-weight: 300;
	text-transform: capitalize;
	text-decoration: none;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover {
	color: #FFF;
	padding-left: 7px;
}

.footer-col .social-links a {
	color: #FFF;
	background-color: rgba(255, 255, 255, 0.2);
	display: inline-block;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	text-align: center;
	margin: 0 10px 10px 0;
	line-height: 40px;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
	color: #151515;
	background-color: #FFF;
}

@media(max-width: 767px) {
	.footer-col {
		width: 50%;
		margin-bottom: 30px;
	}
}

@media(max-width: 574px) {
	.footer-col {
		width: 100%;
	}
}